@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.certificate-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-height: 100vh;
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.certificate {
  aspect-ratio: 16/9;
  height: 90%;
  width: 70%;
  position: relative;
  background-color: #fef2ef;
  border: 0.8vw solid #776fb0;
  overflow: hidden;
}
.certificate-left {
  position: absolute;
  left: 0;
  overflow: hidden;
  object-fit: contain;
  width: 25%;
  height: 100%;
}
.certificate-left img {
  width: 100%;
  height: 100%;
}
.certificate-right {
  position: absolute;
  right: 0;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding: 2vw;
}
.header {
  font-size: 1.7vw;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f25e8d;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  object-fit: contain;
  font-family: "Cedarville Cursive";
  color: #2e2e2e;
}
.logo img {
  width: 9vw;
}
.logo p {
  width: max-content;
}
.id {
  color: #776fb0;
  letter-spacing: 0.2vw;
  font-size: 1.15vw;
  font-weight: 600;
}
.content {
  color: #776fb0;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  font-size: 1.2vw;
  letter-spacing: 0.05vw;
}
.name {
  font-size: 2.5vw;
  font-weight: 900;
  color: #f25e8d;
}
.dates {
  font-size: 1.2vw;
  color: #776fb0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  font-weight: 600;
  letter-spacing: 0.01vw;
}
.dates h3 {
  color: #f25e8d;
}
.contact {
  color: #776fb0;
  display: flex;
  align-items: center;
  gap: 3px;
  position: absolute;
  right: 1%;
  bottom: 1%;
  font-size: 1vw;
}
.contact a {
  color: #f25e8d;
  text-decoration: none;
}
.contact a:hover {
  color: #776fb0;
}
